<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616219759922-8avdrug0n5fg1p2v0m3d6nmprkn6vh9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616219759922-8avdrug0n5fg1p2v0m3d6nmprkn6vh9n</string>
	<key>API_KEY</key>
	<string>AIzaSyATAnVQTKZLlGtBZ8BpalYge_Jiw3a8tMM</string>
	<key>GCM_SENDER_ID</key>
	<string>616219759922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopvenue</string>
	<key>PROJECT_ID</key>
	<string>shop-venue-9304b</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-venue-9304b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616219759922:ios:b0785f0b34bca788ccf32b</string>
	<key>DATABASE_URL</key>
	<string>https://shop-venue-9304b.firebaseio.com</string>
</dict>
</plist>